<section class="app" id="appRoot">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 px-lg-0 col-xl-5">
        <div class="app__col app__col--left">
          <div class="app__header">
            <div class="text-center text-lg-left">
              <%= link_to "/" do %>
                <%= svg('uoko_logo') %>
              <% end %>
            </div>
          </div>
          <div class="h-100 d-flex flex-column justify-content-between">
            <div class="app__head">
              <h2 class="is-txt-white">Easily convert your currencies <span class="is-txt-bold is-txt-green-dark">to any currency</span> in the world!</h2>
              <div class="app__text d-none d-lg-block">
                <p class="is-txt-white">Are you going to travel and need to know how much your money is worth in other currencies? Convert UokoExchange quickly and easily by converting your money to Dollar, Euro or any other currency in the world!</p>
                <div class="app__button d-none d-lg-block">
                  <%= link_to "Start now", "#", class: "btn btn-md btn-white is-txt-medium", id: "focus-formExchange" %>
                </div>
              </div>
            </div>
            <div class="app__credits d-none d-lg-block">
              <p class="is-txt-green-dark">Developer by <%= link_to 'Felipe Marcon', 'https://about.me/felipemarcon/', target:"_blank", class:"is-txt-white" %> on OneBitCode Bootcamp - <%= Date.today.year %>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-0 px-lg-0 col-xl-7">
        <div class="app__col app__col--right">
          <div class="app__card">
            <div class="app__card--head">
              <h1 class="is-txt-medium is-txt-green-light">Simulate conversion</h1>
            </div>
            <%= render "exchanges/exchange_box" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>