<!DOCTYPE html>
<html>
  <head>
    <title>UokoExchange - Conversor de moedas</title>
    <meta name="description" content="Faça a conversão de qualquer moeda facilmente com o UokoExchange"/>
    <meta name="keywords" content="conversor, moedas, real, dólar, euro, dinheiro, economia"/>
    <meta name="robots" content="index, follow">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
